//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 24 22:42:12 2015
//! **************************************************************************

SCHEMATIC START;
COMP "HS" LOCATE = SITE "R9" LEVEL 1;
COMP "VS" LOCATE = SITE "T10" LEVEL 1;
COMP "CLK" LOCATE = SITE "T9" LEVEL 1;
COMP "BLU" LOCATE = SITE "R11" LEVEL 1;
COMP "GRN" LOCATE = SITE "T12" LEVEL 1;
COMP "RED" LOCATE = SITE "R12" LEVEL 1;
COMP "ZOOM<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "ZOOM<1>" LOCATE = SITE "J13" LEVEL 1;
COMP "PLUS" LOCATE = SITE "M14" LEVEL 1;
COMP "COLOR" LOCATE = SITE "K13" LEVEL 1;
COMP "RESET" LOCATE = SITE "L14" LEVEL 1;
COMP "NEXTDIGIT" LOCATE = SITE "M13" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

